Repository amshkv/rails-project-66: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, bundle exec slim-lint, eslint

.lintstagedrc.yml:

---

'**/!(schema)*.{rb,rake}': 'bundle exec rubocop'
'**/*.scss': 'stylelint'
'**/*.html.slim': 'bundle exec slim-lint'
'**/*.js': 'eslint'

:technologist: Add makefile
  Makefile
Due: none

:rotating_light: Lint rb files
  Gemfile
  Rakefile
  app/channels/application_cable/channel.rb
  app/channels/application_cable/connection.rb
  app/controllers/application_controller.rb
  app/helpers/application_helper.rb
  app/jobs/application_job.rb
  app/mailers/application_mailer.rb
  app/models/application_record.rb
  config.ru
  config/application.rb
  config/boot.rb
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/test.rb
  config/initializers/assets.rb
  config/initializers/content_security_policy.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/inflections.rb
  config/initializers/permissions_policy.rb
  config/puma.rb
  config/routes.rb
  db/seeds.rb
  test/application_system_test_case.rb
  test/channels/application_cable/connection_test.rb
  test/test_helper.rb
Due: none

:rotating_light: Lint js files
  app/javascript/application.js
  app/javascript/controllers/application.js
  app/javascript/controllers/hello_controller.js
  app/javascript/controllers/index.js
Due: eslint

:technologist: Move from erb to slim
  Gemfile
  Gemfile.lock
  app/views/layouts/application.html.erb
  app/views/layouts/application.html.slim
  app/views/layouts/mailer.html.erb
  app/views/layouts/mailer.html.slim
  app/views/layouts/mailer.text.erb
  app/views/layouts/mailer.text.slim
Due: bundle exec slim-lint

:technologist: Add annotate gem
  Gemfile
  Gemfile.lock
  lib/tasks/auto_annotate_models.rake
Due: none

:technologist: Add i18n debug gem
  Gemfile
  Gemfile.lock
Due: none

:technologist: Add bullet gem
  Gemfile
  Gemfile.lock
  config/environments/development.rb
  config/environments/test.rb
Due: none

:heavy_plus_sign: Add sentry
  Gemfile
  Gemfile.lock
  app/javascript/application.js
  config/initializers/sentry.rb
  package.json
  yarn.lock
Due: eslint

:technologist: Add minitest power assert gem
  Gemfile
  Gemfile.lock
Due: none

:technologist: Add i18n tasks
  Gemfile
  Gemfile.lock
  app/views/layouts/application.html.slim
  config/i18n-tasks.yml
  config/locales/en.yml
  test/i18n_test.rb
Due: bundle exec slim-lint

:children_crossing: Add favicon
  app/assets/images/favicon.svg
  app/views/layouts/application.html.slim
Due: bundle exec slim-lint

:heavy_plus_sign: Add pg to production
  Gemfile
  Gemfile.lock
  config/database.yml
Due: none

:construction_worker: Add ci file
  .github/workflows/main.yml
  Gemfile.lock
Due: none

:memo: Add ci badge for readme
  README.md
Due: none

:bricks: Configure db for render
  config/database.yml
Due: none

:bricks: Add render build file
  bin/render-build.sh
Due: none

:bricks: Add render deploy cfg
  config/database.yml
  config/environments/production.rb
  config/puma.rb
Due: none

:wrench: Update sentry dsn
  app/javascript/application.js
Due: eslint

:speech_balloon: Update readme
  README.md
Due: none

:wrench: Change to ro locale
  config/i18n-tasks.yml
  config/initializers/locale.rb
  config/locales/ru.yml
Due: none

:lipstick: Update application layout
  app/views/layouts/application.html.slim
  config/locales/ru.yml
Due: bundle exec slim-lint

:sparkles: Add welcome page
  app/controllers/web/application_controller.rb
  app/controllers/web/welcome_controller.rb
  app/views/web/welcome/index.html.slim
  config/locales/ru.yml
  config/routes.rb
  test/controllers/web/welcome_controller_test.rb
Due: bundle exec slim-lint

:bento: Update favicon
  app/assets/images/favicon.svg
Due: none

:speech_balloon: Add link to readme
  README.md
Due: none

:wrench: Add schema rb
  db/schema.rb
Due: none

:heavy_plus_sign: Add dot env gem
  Gemfile
  Gemfile.lock
Due: none

:wrench: Add env file to gitignore
  .gitignore
  Gemfile
  Gemfile.lock
Due: none

:sparkles: Add user entity
  .env.example
  Gemfile
  Gemfile.lock
  app/controllers/concerns/auth_concern.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/auth_controller.rb
  app/helpers/application_helper.rb
  app/models/user.rb
  app/views/layouts/application.html.slim
  config/i18n-tasks.yml
  config/initializers/locale.rb
  config/initializers/omniauth.rb
  config/locales/flash.ru.yml
  config/locales/ru.yml
  config/routes.rb
  db/migrate/20230724180027_create_users.rb
  db/schema.rb
  test/controllers/web/auth_controller_test.rb
  test/fixtures/users.yml
  test/test_helper.rb
Due: bundle exec slim-lint

:children_crossing: Add rails flash messages
  Gemfile
  Gemfile.lock
  app/views/layouts/application.html.slim
  config/i18n-tasks.yml
  config/initializers/flash_rails_messages_bootstrap.rb
  config/locales/ru.yml
Due: bundle exec slim-lint

:technologist: Add enumerize gem
  Gemfile
  Gemfile.lock
Due: none

:heavy_plus_sign: Add octokit gem
  Gemfile
  Gemfile.lock
Due: none

:sparkles: Add base structure for repositories
  app/controllers/web/repositories_controller.rb
  app/models/repository.rb
  app/models/user.rb
  app/views/layouts/application.html.slim
  app/views/web/repositories/index.html.slim
  app/views/web/repositories/new.html.slim
  app/views/web/welcome/index.html.slim
  config/locales/ru.yml
  config/routes.rb
  db/migrate/20230729075922_create_repositories.rb
  db/schema.rb
  test/controllers/web/repositories_controller_test.rb
  test/fixtures/repositories.yml
Due: bundle exec slim-lint

:lock: Add base authentificate for repositories
  app/controllers/concerns/auth_concern.rb
  app/controllers/web/repositories_controller.rb
  config/locales/flash.ru.yml
  test/controllers/web/repositories_controller_test.rb
Due: none

:technologist: Add helper for attributes name
  app/helpers/application_helper.rb
Due: none

:children_crossing: Populate index repository page
  app/controllers/web/repositories_controller.rb
  app/views/web/repositories/index.html.slim
  config/i18n-tasks.yml
  config/locales/activerecord.ru.yml
  config/locales/ru.yml
Due: bundle exec slim-lint

:heavy_plus_sign: Add simleform gem
  Gemfile
  Gemfile.lock
  config/i18n-tasks.yml
  config/initializers/simple_form.rb
  config/initializers/simple_form_bootstrap.rb
  config/locales/simple_form.ru.yml
  lib/templates/slim/scaffold/_form.html.slim
Due: bundle exec slim-lint

:children_crossing: Change require tag on form
  config/locales/simple_form.ru.yml
Due: none

:necktie: Add github id field
  app/models/repository.rb
  db/migrate/20230729094351_add_github_id_for_repository.rb
  db/schema.rb
  test/fixtures/repositories.yml
Due: none

:technologist: Add webmock
  Gemfile
  Gemfile.lock
  test/test_helper.rb
Due: none

:technologist: Add helper metrhod for read fixture
  test/test_helper.rb
Due: none
